{% extends 'auctions/layout.html' %}

{% block body %}
<h2 style="color: red; margin-left: 25px;">Watch List</h2>
<div>
    
    {% for item in items %}
    {% for i in item %}
    
    <div>
        <div class="listblock"> 
            <a href="{% url 'listpage' i.pk %}"><h5 class="listtitle">{{i.title}}</h5></a>
        <span class="date">{{i.date}}</span><br><span class="desc"><b>{{i.description}}</b></span>
        <div><div class="list_dis_a"><img class="list_dis" src="https://i.dlpng.com/static/png/5399245-avengers-endgame-2019-avengers-logo-png-by-mintmovi3-on-deviantart-avengers-logo-png-859_930_preview.png" alt="..."></div>
        </div>
        <hr>
        <div class="details">
            <ul>
                <li>Price: <b>${{i.price}}</b></li>
                
                <li>Under the category of <b>{{i.category}}</b></li>
            </ul>
    
        </div>
        </div>
    </div>
    
    {% endfor %}
    {% empty %}
    <h6 style="margin-left: 25px;">You have no listings in your watchlist, go ahead and add some!</h6>
    {% endfor %}
    
</div>
{% endblock %}
