{% extends "auctions/layout.html" %}
{% block body %}
<div>
    {% if items %}
    <h1 class="cong">Bravo!👍👊👏</h1>
    <h5 class="blah">You've won some listin(s)</h5>
    <span class="whint"><em>Click on them to get full details.</em></span>
    {% endif %}
        {% for item in items %}
    <div>
        <div class="listblock"> 
            <a href="{% url 'wonpage' user.username item.listid %}"><h5 class="listtitle">{{item.title}}</h5></a>
        <span class="date">{{item.dateclosed}}</span><br><span class="desc"><b>{{item.description}}</b></span>
        <div><div class="list_dis_a"><img class="list_dis" src="https://i.dlpng.com/static/png/5399245-avengers-endgame-2019-avengers-logo-png-by-mintmovi3-on-deviantart-avengers-logo-png-859_930_preview.png" alt="..."></div>
        </div>
        <hr>
        <div class="details">
            <ul>
                <li>Winning Price: <b class="price">${{item.winprice}}</b></li>
                <li>Listed by {% if item.owner == user.username %} you {% else %} <b>{{item.owner.capitalize}}</b> {% endif %}</li>
                <li>Under the category of <b>{{item.category}}</b></li>
            </ul>
    
        </div>
        </div>
</div>
    {% empty %}
    <h6>You've won no listing yet, you will be notified when you've won a listing.</h6>
    {% endfor %}
</div>
<div>
    
</div>
{% endblock %}