{% extends 'auctions/layout.html' %}
{% block body %}
<div class="alert alert-success">Congratulations, {{item.winner.upper}}</div>
<div>
    <h1 style="color: green;">You've won this lsiting!</h1>
    <h5 style="color: slategrey;">This listing is no longer active</h5>
    <div class="list-area">
        <h2 style="margin: 10px;">{{item.title}}</h2>
        <h4 style="margin: 10px;">{{item.description}}</h4>
        
        <div class="lspimg">
            <img class=".lspimga" src="https://i.dlpng.com/static/png/5399245-avengers-endgame-2019-avengers-logo-png-by-mintmovi3-on-deviantart-avengers-logo-png-859_930_preview.png" alt="List image">
        </div>
        
        
        <div class="details">

            <h3>Details</h3>
            <h5>Wining Price: <span class="price">${{item.winprice}}</span></h5>
            <h5>Listed <em>{{item.datecreated}}</em> & closed <em>{{item.dateclosed}}</em></h5>
            <h6>Listed by {% if owner%} you {% else %} {{item.owner.upper}}. {% endif %}</h6>
            
        </div>

    </div>
</div>
</div>
{% endblock %}